body {
    background: black;
    color: cyan;
    font-family: Arial;
    text-align: center;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px;
    background: cyan;
    border: none;
    cursor: pointer;
}